@import "../../themes/default";

@PrefixCls: innerhtml;

.@{PrefixCls}-outer {
  padding: 20px;
  overflow: hidden;
  line-height: 1.5em;
  & p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 1em 0;
  }
}

