@import '~antd-mobile/lib/style/themes/default.less';

@primary-color: #22609c;
@brand-wait: #22609c;
@fill-body: #f6f6f6;
@primary-header-height: 90px;
@hd: 2px;
@infoColor: #666;
@opacity: rgba(0, 0, 0, .5);
@commonFonetSize: 28px;
@PublicTitleFontSize: 32px;
@opacity: rgba(0, 0, 0, .5);
@commonFonetSize: 28px;
@titleFontSize: 32px;
@mediumFontSize: 30px;
@smallFontSize: 26px;
@navColor:-webkit-linear-gradient(@primary-color, #3574b0);;
@border-color-base: #e0e0e0; // 边框
@color-text-base: #171717; //文字基色
@color-text-paragraph: #717171; //段落文字
@radius-xs:10px;
@radius-lg:15px;
